* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
}

header {
    width: 100%;
    text-align: center;
    color: dimgrey;
}

header h1,
header h3 {
    padding: 0;
    margin: 10px;
}

hr {
    border-top: 3px solid gray;
    margin: 0;
}

.hr-dashed {
    margin-top: 15px;
    border: 2px dashed gray;
}

.left-nav {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 0;
    background-color: lightgrey;
    padding: 30px;
}

.content-container {
    display: flex;
}

.left-nav span {
    position: relative;
    top: 5px;
}

.left-nav a {
    color: brown;
}

.article {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 30px;
}

.left-details {
    display: inline-block;
}

p {
    margin: 10px;
    text-indent: 15px;
    text-align: justify;
}

.details {
    display: flex;
    justify-content: space-between;
    width: 100%;

    span {
        margin: 10px;
        font-weight: bold;
    }
}

.certificate {
    width: 100%;
}

.center {
    text-align: center;
}

@media (min-width: 320px) and (max-width: 778px) {
    .content-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-nav, .article {
        width: 100%;
    }
}
